{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h3 class="mb-0">
      <h3 class="text-dark text-center">Wybierz klasę, którą chcesz usunąć.</h3>
      <br/>
      <div class="alert alert-danger" role="alert">
        Usunięcie klasy narobi sporo zamieszania, upewnij się, że jest to konieczne.
      </div>
            <br/>
            {% for object in object_list %}
            <a class="text-secondary" href="{% url 'klasa_delete' object.pk %}">{{ object.name }}</a><br/>
            {% endfor %}
            <br/>
            <a class="btn btn-secondary" href="{% url 'panel_moda' %}" role="button">Powrót</a>
          </div>
        </div>


{% endblock %}