
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Sarmatia - Alliance EU Shadowsong/Aszune</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link href="/static/bootstrap/blog.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row justify-content-md-center">
            <img src='/static/img/logo.png'>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        
        <nav class="nav justify-content-center">
          <a class="p-2 text-white" href="{% url 'home' %}">HOME</a>
          <a class="p-2 text-white" href="#">O NAS</a>
          <a class="p-2 text-white" href="#">FORUM</a>
          <a class="p-2 text-white" href="#">ZAPISY</a>
          <a class="p-2 text-white" href="#">PROFIL</a>
        </nav>
      </div>

    {% block content %}
    {% endblock %}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/bootstrap/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/bootstrap/popper.min.js"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <script src="/static/bootstrap/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
