
<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Sarmatia - Alliance EU Shadowsong/Aszune</title>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>

    {% block extrahead %}
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link href="/static/bootstrap/blog.css" rel="stylesheet">
    <script src="{% static "js/jquery-3.3.1.slim.min.js" %}"></script>
    <script src="{% static "js/sarm-jquery.js" %}"></script>
  </head>

  <body>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row justify-content-md-center">
            <img src='/static/img/logo.png'>
        </div>      
      </header>

      <div class="container">
        <nav class="nav justify-content-center">
            <a class="p-2 text-white" href="{% url 'home' %}"><div style="font-size: 19px;">HOME</div></a>
            <a class="p-2 text-white" href="{% url 'home' %}"><div style="font-size: 19px;">O NAS</div></a>
            <a class="p-2 text-white" href="{% url 'home' %}"><div style="font-size: 19px;">FORUM</div></a>
            <a class="p-2 text-white" href="{% url 'home' %}"><div style="font-size: 19px;">ZAPISY</div></a>
          {% if user.is_authenticated %}
            <a class="p-2 text-white" href="{% url 'profil' %}"><div style="font-size: 19px;">PROFIL</div></a>
            <a class="p-2 text-white" href="{% url 'logout' %}"><div style="font-size: 19px;">LOG OUT</div></a>
          {% else %}
            <a class="p-2 text-white" href="{% url 'login' %}"><div style="font-size: 19px;">LOG IN</div></a>
          {% endif %}
          {% if request.user.is_staff %}
            {% if ilosc_podan > 0 %}
            <a class="p-2 text-white" href="{% url 'panel_moda' %}"><div style="font-size: 19px;">MOD PANEL<span class="badge badge-danger">{{ ilosc_podan }}</span></div></a>
            {% else %}
            <a class="p-2 text-white" href="{% url 'panel_moda' %}"><div style="font-size: 19px;">MOD PANEL</div></a>
            {% endif %}
          {% endif %}
        </nav>
      </div>


    {% block content %}
    {% endblock %}
    
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/bootstrap/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/bootstrap/popper.min.js"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <script src="/static/bootstrap/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
