{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            {% if lista %}
            <h3 class="text-dark text-center">Nowe aplikacje:</h3>
            <ul class="list-group">
            {% for object in lista %}
            <a href="{% url 'aplikacja_detail' object.pk %}" class="list-group-item list-group-item-action list-group-item-info">
                <span class="text-center text-dark"><strong>{{ object.name }}</strong><br/>
                <span class="text-right">{{object.date}}</span>
            </a>
            {% endfor %}
            </ul>
            {% else %}
            <h4 class="text-dark text-center">Brak nowych aplikacji</h4>
            {% endif %}

            <br/>
            <h3 class="text-dark text-left">!!!!!!!Aplikacje:</h3>
            <ul class="list-group">
                <a href="{% url 'aplikacje_zamkniete' %}" class="list-group-item list-group-item-action list-group-item-info">Przeglądaj</a>                        
            </ul>
            <br/>
            {% if user.is_superuser %}
            <h3 class="text-dark text-left">Admin:</h3>
            <ul class='list-group'>
                <a href="{% url 'mod_wybierz' %}" class="list-group-item list-group-item-action list-group-item-success">Nadaj uprawnienia</a>
                <a href="{% url 'mod_lista' %}" class="list-group-item list-group-item-action list-group-item-danger">Odbierz uprawnienia</a> 
            </ul>
            <br/>
            {% endif %}
            <h3 class="text-dark text-left">Dostępne akcje:</h3>
            <ul class="list-group">
                <a href="{% url 'killshot_create' %}" class="list-group-item list-group-item-action list-group-item-success">Dodaj killshot</a> 
                <a href="{% url 'rasa_create' %}" class="list-group-item list-group-item-action list-group-item-success">Dodaj nową rasę</a>
                <a href="{% url 'klasa_create' %}" class="list-group-item list-group-item-action list-group-item-success">Dodaj nową klasę</a>
                <a href="{% url 'rola_create' %}" class="list-group-item list-group-item-action list-group-item-success">Dodaj nową rolę</a>
                <a href="{% url 'serwer_create' %}" class="list-group-item list-group-item-action list-group-item-success">Dodaj nowy serwer</a>
            </ul>
            <br/>
            <ul class="list-group">
                <a href="{% url 'killshot_lista' %}" class="list-group-item list-group-item-action list-group-item-danger">Usuń killshot</a>
                <a href="{% url 'rasa_lista' %}" class="list-group-item list-group-item-action list-group-item-danger">Usuń rasę</a>                        
                <a href="{% url 'klasa_lista' %}" class="list-group-item list-group-item-action list-group-item-danger">Usuń klasę</a>
                <a href="{% url 'rola_lista' %}" class="list-group-item list-group-item-action list-group-item-danger">Usuń rolę</a>
                <a href="{% url 'serwer_lista' %}" class="list-group-item list-group-item-action list-group-item-danger">Usuń serwer</a>
            </ul>
            <br/>
            <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Powrót</a>
            
        </div>
    </div>
<br/>
{% endblock %}
     