{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <p class="text-center">
        <h3 class="text-dark text-center">Profil: <strong>{{ user.username }}</strong></h3>
        <img class="rounded mx-auto d-block" src="{{ MEDIA_URL }}{{ userprofile.picture }}" width="150" alt="{{ selecteduser.username }}" />
        </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Postać main: <b><span class="text-success">{{ main }}</span></b></li>
            <li class="list-group-item">Liczba postaci: <b>{{ ilosc_postaci }}</b></li>
            <li class="list-group-item">Numer telefonu: <b>{% if userprofile.phone %}{{ userprofile.phone }} {% else %} Nie podano {% endif %}</b></li>
            <li class="list-group-item">BattleTag: <b>{{ userprofile.battleTag }}</b></li>
            <li class="list-group-item">Data dołączenia: <b>{{ userprofile.date }}</b></li>
        </ul>
        <br/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-dark">Postacie</h5>
                <hr/>
                <table class="table table-borderless table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Serwer</th>
                        <th scope="col">Klasa</th>
                        <th scope="col">Mainspec</th>
                        <th scope="col">Offspec</th>
                        <th scope="col">Rasa</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for postac in postacie %}
                        <div class="list-group">
                            {% if postac.is_main %}
                            <tr class="clickable-row table-success" data-href="https://worldofwarcraft.com/en-gb/character/{{postac.serwer}}/{{postac.name}}">
                            {% else %}
                            <tr class="clickable-row" data-href="https://worldofwarcraft.com/en-gb/character/{{postac.serwer}}/{{postac.name}}">
                            {% endif %}
                            <td>{{ postac.name }}</td>
                                <td>{{ postac.serwer }}</td>
                                <td>{{ postac.klasa }}</td>
                                <td>{{ postac.mainspec }}</td>
                                <td>{{ postac.offspec }}</td>
                                <td>{{ postac.rasa }}</td>
                                {% if postac.is_main %}
                                <td>Main</td>
                                {% else %}
                                <td>Alt</td>
                                {% endif %}
                            </tr>       
                    {% endfor %}
                    </tbody>
                </table>
                <p class="card-text"><small class="text-muted">Kliknij na wybraną postać, aby przejść do Armory</small></p>
            <a href="{% url 'profil_dodaj_postac' user.username %}" class="btn btn-secondary btn-sm">Dodaj postać</a>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-body">
            <form action="" method="POST" enctype="multipart/form-data">
                <h5 class="card-title">Edytuj profil</h5>
                <p class="card-text">
                    {% csrf_token %}
                    {{ form|crispy }}
                </p>
                <p class='text-right'>
                <button class="btn btn-dark" type="submit">Zapisz</button>
                </p>
            </form>
            </div>
        </div>
                
    </div>
</div>
<br/>
<script type="text/javascript">
    $(document).ready(function($) {
        $(".table-row").click(function() {
            window.document.location = $(this).data("href");
        });
    });
</script>
{% endblock %}
