{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="mb-0">
            <p class="text-center">
              <h3 class="text-dark text-center">Wybierz klasę dla której chcesz zmienić status rekrutacji:</a>
            </p>
            </h3>
            <br/>
            {% for object in object_list %}
            <a class="text-secondary" href="{% url 'rekrutacja_update' object.pk %}">{{ object.klasa }}</a><br/>
            {% endfor %}
            <br/>
            <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Powrót</a>
            <p class="text-right">
            <a class="btn btn-danger" href="{% url 'klasa_create' %}" role="button">Stwórz nową klasę</a>
            <a class="btn btn-danger" href="{% url 'klasa_lista' %}" role="button">Usuń klasę</a>
            </p>
          </div>
        </div>


{% endblock %}
     