{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
<div class="card shadow-sm">
        <div class="card-body">
          <h3 class="mb-0">
          <p class="text-center">
            <h3 class="text-dark text-center">Witamy!</h3>
            <p>Utwórz nowe hasło. Upewnij się, aby hasło miało conajmniej osiem znaków i składało się przynajmniej z cyfr i liter.</p>
          </p>
        {% if messages %}
          <div class="alert alert-info" role="alert">
              {% for message in messages %}
              {{ message }}
              {% endfor %}
          </div>
        {% endif %}
          
<form method="POST" action=''>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-dark" type="submit">Stwórz</button>
</form>
<br />
{% endblock %}