{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="text-dark text-center">Aplikacje Zaakceptowane:</h3>
            {% if podania_accepted %}
            <ul class="list-group">
            {% for podanie in podania_accepted %}
            <a href="{% url 'aplikacja_detail' podanie.pk %}" class="list-group-item list-group-item-action list-group-item-info">
                <span class="text-center text-dark"><strong>{{ podanie.name }}</strong><br/>
                <span class="text-right">{{podanie.date}}</span>
            </a>
            {% endfor %}
            </ul>
            {% else %}
            <h4 class="text-dark text-center">Brak aplikacji</h4>
            {% endif %}
    
            <br/>
            <a class="btn btn-secondary" href="{% url 'panel_moda' %}" role="button">Powrót</a>
            
        </div>
    </div>
{% endblock %}
     