{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="text-dark text-center">Aplikacje Zamknięte:</h3>
            <form action="" method="get">
            {{ filter.form|crispy }}
            <p class='text-right'><input class="btn btn-secondary" type="submit" value="Filtruj"></p>
            </form>
            <ul class="list-group">
            {% for obj in filter.qs %}
                {% if obj.accepted %}
                    <a href="{% url 'aplikacja_detail' obj.pk %}">
                {% endif %}
                {% if obj.rejected %}
                    <a href="{% url 'aplikacja_detail' obj.pk %}">
                {% endif %}
                <span class="text-center text-dark"><strong>{{ obj.name }} | APLIKACJA {% if obj.accepted %} ZAAKCEPTOWANA{% endif %}{% if obj.rejected %}ODRZUCONA{% endif %}</strong>
                {{obj.date}}
                </a>
            {% endfor %}
            </ul>
            <br/>
            <a class="btn btn-secondary" href="{% url 'panel_moda' %}" role="button">Powrót</a>
            
        </div>
    </div>
{% endblock %}
     