{% extends 'base.html' %}
{% block extrahead %}
{{ filter.form.media }}
{% endblock %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block content %}
<div class=container>
<div class="row">
<div class="col-md-auto">

              
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="text-dark text-center">Aplikacje Zamknięte:</h3>
            <p class='text-center text-dark'>Kliknij w nazwę postaci aby przejść do podania</p>
           
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-light">
                        <th scope="col">Nazwa postaci</th>
                        <th scope="col">Status aplikacji</th>
                        <th scope="col">Data złożenia</th>
                        <th scope="col">Komentarze</th>
                    </tr>
                </thead>
                <tbody>
            {% for obj in appli.object_list %}
                <tr>
                {% if obj.accepted %}
                        <td><p><a href="{% url 'aplikacja_detail' obj.pk %}" class="text-dark"><b>{{obj.name}}</b></a></p></td>
                        <td><p class="text-success"><b>ZAAKCEPTOWANA</b></p></td>
                {% elif obj.rejected %}
                        <td><p><a href="{% url 'aplikacja_detail' obj.pk %}" class="text-dark"><b>{{obj.name}}</b></a></p></td>
                        <td><p class="text-dark"><b>ODRZUCONA</b></p></td>
                {% endif %}
                        <td>{{obj.date}}</td>
                        <td>
                    {% for podanie in c %}
                        {% if podanie == obj %}
                        <span class="badge badge-pill badge-secondary">{{ podanie.comments.count }}</span>             
                        {% endif %} 
                    {% endfor %}
                        </td>

                </tr>
            {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                    {{ appli.render }}      
            </div>
            <br/>
            
            

            <a class="btn btn-secondary" href="{% url 'panel_moda' %}" role="button">Powrót</a>
        </div>
    </div>
    </div>
    <div class="col">
            <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="text-dark text-center">Filtruj wyniki:</h3>
                        <p class='text-center text-dark'></p>
                        <form action="" method="get">
                                {{ filter.form|crispy }}
                                <p class='text-right'><input class="btn btn-secondary" type="submit" value="Filtruj"></p>
                                </form>
                    </div>
            </div>
    </div>
</div>
</div>
<br/>
{% endblock %}
     