{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">

            {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                <p class="{{ message.tags }}">{{ message }}</p>
                </div>
                {% else %}
                <div class="alert alert-info" role="alert">
                <p class="{{ message.tags }}">{{ message }}</p>
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}

            {% if podanie.infoRaidDoswiadczenie == '' and podanie.infoRaidWiedza == '' and podanie.infoRaidDni == '' %}
            <h3 class="text-dark text-center">Aplikacja Socjalna: <strong>{{podanie.name}}</strong><br/>
            {% else %}
            <h3 class="text-dark text-center">Aplikacja Raidowa: <strong>{{podanie.name}}</strong><br/>
            {% endif %}
                <a class="btn btn-warning btn-sm" href="https://worldofwarcraft.com/en-gb/character/{{podanie.serwer}}/{{podanie.name}}" role="button"><b>ARMORY</b></a>
                <a class="btn btn-success btn-sm" href="https://www.wowprogress.com/character/eu/{{podanie.serwer}}/{{podanie.name}}" role="button"><b>WoW Progress</b></a>
                <a class="btn btn-primary btn-sm" href="https://raider.io/characters/eu/{{podanie.serwer}}/{{podanie.name}}" role="button"><b>Raider.io</b></a>
            </h3>
            
            <br/>
            
            <table class="table table-striped table-sm">
                <tbody>
                    <tr>
                        <td>Data złożenia podania:</td>
                        <td>{{podanie.date}}</td>
                    </tr>
                    <tr>
                        <td>Serwer:</td>
                        <td>{{podanie.serwer}}</td>
                    </tr>
                    <tr>
                        <td>Rasa:</td>
                        <td>{% if podanie.rasa == None %}
                                Usunięta
                            {% else %}
                                {{podanie.rasa}}
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Klasa:</td>
                        <td>{% if podanie.klasa == None %}
                                Usunięta
                            {% else %}
                                {{podanie.klasa}}
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Main Spec:</td>
                        <td>{% if podanie.mainspec == None %}
                                Usunięty
                            {% else %}
                                {{podanie.mainspec}}
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Off Spec:</td>
                        <td>{% if podanie.offspec == None %}
                                Usunięty
                            {% else %}
                                {{podanie.offspec}}
                            {% endif %}</td>
                    </tr>
                    {% if podanie.infoRaidDoswiadczenie != '' and podanie.infoRaidWiedza != '' and podanie.infoRaidDni != '' %}
                    <tr>
                        <td>Doświadczenie raidowe:</td>
                        <td>{{podanie.infoRaidDoswiadczenie}}</td>
                    </tr>
                    <tr>
                        <td>Wiedza o postaci:</td>
                        <td>{{podanie.infoRaidWiedza}}</td>
                    </tr>
                    <tr>
                        <td>Dni raidowe:</td>
                        <td>{{podanie.infoRaidDni}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Historia gildii:</td>
                        <td>{{podanie.infoGildie}}</td>
                    </tr>
                    <tr>
                        <td>Info ogólne:</td>
                        <td>{{podanie.infoOgolne}}</td>
                    </tr>
                    <tr>
                        <td>Płeć:</td>
                        <td>{{podanie.plec}}</td>
                    </tr>
                    <tr>
                        <td>battleTag:</td>
                        <td>{{podanie.battleTag}}</td>
                    </tr>
                    <tr>
                        <td>e-mail:</td>
                        <td>{{podanie.email}}</td>
                    </tr>
                </tbody>
            </table>
            {% if not podanie.accepted and not podanie.rejected %}
            <a class="btn btn-success" href="{% url 'aplikacja_confirm' podanie.pk %}" role="button">Akceptuj Podanie</a>
            <a class="btn btn-danger" href="{% url 'aplikacja_reject' podanie.pk %}" role="button">Odrzuć podanie</a>
            {% endif %}
            <hr/>
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <h3 class="text-dark">Dodaj komentarz:</h3>
                <form action="" method="POST" class='bootstrap4'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p class='text-right'><input class="btn btn-secondary" type="submit" value="Dodaj"></p>
                </form>
                </div>
            <hr/>

            {% for i in comment_list %}
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-header" id='komenty'>
                {% for user in authors %}
                    {% if user.user == i.author %}
                    <img class="rounded float-left" src="{{ MEDIA_URL }}{{ user.picture }}" width="50" alt="{{ i.author }}" />| Autor: <strong>{{i.author}}</strong> | {{i.date}} 
                    {% endif %}
                {% endfor %}
                {% if i.author == request.user %}
                | <a href="{% url 'aplikacja_delete_komentarz' podanie.pk i.pk%}"><span class="badge badge-danger">Delete</span></a>
                {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{i.comment}}</p>
                </div>
                
            </div>
            {% empty %}
            
            {% endfor %}
         
        </div>
    </div>
<br/>
{% endblock %}
     