{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="text-dark text-center">Aplikacje Zamknięte:</h3>
            {% if lista_podan %}
                <ul class="list-group">
                    {% for podanie in lista_podan %}
                        {% if podanie.accepted %}
                        <a href="{% url 'aplikacja_detail' podanie.pk %}" class="list-group-item list-group-item-action list-group-item-info">
                        {% endif %}
                        {% if podanie.rejected %}
                        <a href="{% url 'aplikacja_detail' podanie.pk %}" class="list-group-item list-group-item-action list-group-item-secondary">
                        {% endif %}
                        <span class="text-center text-dark"><strong>{{ podanie.name }} | {% if podanie.accepted %}ZAAKCEPTOWANA{% endif %}{% if podanie.rejected %}ODRZUCONA{% endif %}</strong><br/>
                        <span class="text-right">{{podanie.date}}</span>
                        </a>
                    {% endfor %}
                </ul>
            
            {% else %}
            <h5 class="text-dark text-center">Brak aplikacji</h4>
            {% endif %}
    
            <br/>
            <a class="btn btn-secondary" href="{% url 'panel_moda' %}" role="button">Powrót</a>
            
        </div>
    </div>
{% endblock %}
     