{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h3 class="text-dark text-center">Akceptacja podania - koniec</h3>
        <br/>
        <h4 class="text-dark text-center"><div class="p-3 mb-2 bg-info text-white"><strong>PODANIE ZAAKCEPTOWANE</strong></div></h4>
        <br/>
        <p class='text-right'><a class="btn btn-secondary" href="{% url 'panel_moda' %}">Zakończ</a></p>
    


    </div>
</div>


{% endblock %}